<ion-view  view-title="GRASS Apparels">


<ion-content style="background-color:#f1f1f1" >

    <div class="row" >
        <div class="col col-50" >
            <a href="#/app/prodList/1.3.4/Grass Play%20Dry">
            <img style="border:1px ; border-color: #ffffff" ng-src="img/play_dry.jpg"  width="100%"  />
            </a>
        </div>
        <div class="col col-50" >
            <a href="#/app/prodList/1.3.2/Grass Basics">
            <img style="border-color: #ffffff" ng-src="img/basic.jpg" width="100%" />
            </a>
        </div>
        </div>
    <div class="row" >
        <div class="col col-50" >
            <a href="#/app/prodList/1.3.1/Grass Classic">
            <img style=" border-color: #ffffff" ng-src="img/classic.jpg" width="100%" />
            </a>
        </div>
        <div class="col col-50" >
            <a href="#/app/prodList/1.4.1/Grass Crew">
            <img style=" border-color: #ffffff" ng-src="img/crew.jpg" width="100%" />
            </a>
        </div>
    </div>
    <div class="row" >
        <div class="col col-50" >
            <a href="#/app/prodList/2.0/Grass Formals">
            <img style=" border-color: #ffffff" ng-src="img/formals.jpg" width="100%" />
            </a>
        </div>
        <div class="col col-50" >
            <a href="#/app/prodList/1.3.0/Grass Premium">
            <img style="border-color: #ffffff" ng-src="img/premium.jpg" width="100%" />
            </a>
        </div>
    </div>
    </div>

    <div class="row" >
        <div class="col col-100" >
            <a href="#/app/prodList/1.3.0/Grass T-Shirt">
                <img style="border-color: #ffffff" ng-src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/grass/8.jpg" width="100%" />
            </a>
        </div>

    </div>


</ion-content>
</ion-view>